# discord bot
discord
python-dotenv

pandas

# asynchronous
aiosqlite
aiohttp

# openai>=1.0.0

# RAG
langchain
langchain-community
langchain-huggingface
langchain_ollama

sentence_transformers
tiktoken

# database
faiss-gpu

# if you don't have gpu, use the following library
# faiss-cpu

wikipedia
